@using TadrousManassa.Areas.Student.Models
@model LectureListViewModel


@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="container">
            <div class="row">
                <img class="sec1" src="~/images/profile.gif" alt="tad1" />
            </div>
        </div>
    </div>
</section>


<!-- service section -->
<div>
    <section class="service_section layout_padding">
        <div class="service_container">
            <div class="container ">
                <div class="heading_container heading_center">
                    <h2>
                         <span>ليه تشترك معانا؟</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/images/quiz.gif" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    الامتحانااااااااااااات
                                </h5>
                                <p>
                                    دايما مع كل حصة بيبقى فى امتحانات عشان تختبر مستواك و تأكد فهمك للدرس
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/images/book.gif" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    الحل الكتير
                                </h5>
                                <p>
                                    هنحل مع بعض كل اسئلة الكتب الخارجية بكل مستويات الصعوبة
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/images/teacher.gif" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    تبسيط المعلومة
                                </h5>
                                <p>
                                    شرح تفصيلى لكل جزئية فى المنهج بشكل بسيط و ممتع
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="text-center">
    <h1 class="display-4">Lectures</h1>
</div>

<div class="container">
    <!-- Semester Cards Section -->
    <div class="row">
        @foreach (var semester in Model.LecturesOfSemesters.Keys)
        {
            var lectureCount = Model.LecturesOfSemesters[semester].Count;
            <div class="col-md-12 semester-card" data-semester="@semester">
                <h4>Term: @semester</h4>
                <p>@lectureCount lecture@(lectureCount > 1 ? "s" : "")</p>
            </div>
        }
    </div>
    
    <!-- Lecture List Section -->
    <div>
        @foreach (var semester in Model.LecturesOfSemesters.Keys)
        {
            <div class="lecture-group" data-semester="@semester" style="display:none;">
                @* <h5>Lectures for term @semester: @Model.LecturesOfSemesters[semester].Count()</h5> *@
                @foreach (var lecture in Model.LecturesOfSemesters[semester])
                {
                    <!-- Add style="cursor:default" to the row -->
                    <div class="lecture-row" data-lecture-id="@lecture.Id" style="cursor:default">
                        <div class="lecture-info">
                            Lecture: @lecture.Name
                        </div>
                        <div class="lecture-actions">
                            @if (!lecture.IsPurchased)
                            {
                                <form method="post" action="@Url.Action("LecturePurchasing", "Home")" style="display:inline;">
                                    <input type="hidden" name="lectureId" value="@lecture.Id" />
                                    <label for="code-@lecture.Id">Enter the code:</label>
                                    <input type="text" id="code-@lecture.Id" name="code" class="code-input" />
                                    <button type="submit" class="btn btn-success buy-btn" data-lecture-id="@lecture.Id">Buy the lecture</button>
                                </form>
                            }
                            else
                            {
                                <!-- Use form POST to avoid URL parameters -->
                                <form method="post" action="@Url.Action("LectureDetails", "Home")" style="display:inline;">
                                    <input type="hidden" name="lectureId" value="@lecture.Id" />
                                    <button type="submit" class="btn btn-primary go-btn">Go to the lecture</button>
                                </form>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

<style>
    .semester-card {
        background: #f0f0f0;
        padding: 20px;
        margin: 10px;
        cursor: pointer;
        text-align: center;
        border-radius: 5px;
    }
</style>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Show lecture groups when semester card is clicked
            $('.semester-card').click(function () {
                var selectedSemester = $(this).data('semester');
                $('.lecture-group').hide();
                $('.lecture-group[data-semester="' + selectedSemester + '"]').show();
            });
        });
    </script>
}

<!-- jQery -->
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<!-- bootstrap js -->
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<!-- owl slider -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- custom js -->
<script type="text/javascript" src="~/js/custom.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
<!-- End Google Map -->
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/responsive.css" />
<link rel="stylesheet" href="~/css/style.css" />
<link rel="stylesheet" href="~/css/units.css">

