@model TadrousManassa.Areas.Student.Models.VideoDetailsDTO

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumxWNU3hPU4tYLIprf3b0WxJf7BYJ5O4vRII5Ym" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/fun-layout.css" />
    <link rel="stylesheet" href="~/css/lecDet.css" />
</head>
<div class="container mt-4">
    <h1 class="mb-3">@Model.Name</h1>
    @if (!string.IsNullOrEmpty(Model.Unit))
    {
        <p class="text-muted"><strong>Unit:</strong> @Model.Unit</p>
    }
    <p>@Model.Description</p>

    <div class="video-container">
        <video id="lectureVideo" data-lecture-id="@Model.Id" controls controlsList="nodownload" oncontextmenu="return false;" playsinline preload="metadata">
            @* <source src="@TempData["VideoPath"]" type="video/mp4"> *@
            <source src="@Model.Path" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="d-flex justify-content-around">
        @if (!string.IsNullOrEmpty(Model.SheetPath))
        {
            <a href="@Url.Action("DownloadSheet", new { path = Model.SheetPath })"
               class="btn btn-outline-primary" target="_blank">
                Download Sheet
            </a>

        }
        <form action="@Url.Action("QuizDetails")" method="get" style="display:inline;">
            <input type="hidden" name="videoId" value="@Model.Id" />
            <button type="submit" class="btn btn-outline-success">Go to Quiz</button>
        </form>
    </div>
</div>
    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
        integrity="sha384-DfXdAiqz6p7pDB3X4N2/QUPDtEwAYIITiP28IEVFNqM/Y4xc0xbS9pD9b3n3hw33" 
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-Piv4xVNRyMGpqk6PHW2FjYJvUju9Ul1N2qgl/mUP5ZnZB3Zuo8Ncb7EN4FLfL7p" 
        crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />